# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir={{ mysql_datadir }}
socket={{ socket }}
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

lower_case_table_names = 1
{% if 'db1' in inventory_hostname %}
slow_query_log = 1
long_query_time = 6
log-bin=mysql-bin
server-id=1
{% else %}
server-id=2
#read-only = yes
{% endif %}
relay-log=relay-log
binlog-ignore-db=mysql

log-error={{ log_error }}
pid-file={{ pid_file }}

#skip-networking
back_log = 300

max_connections = {{ max_connections }}
#max_connect_errors = 6000
open_files_limit = {{ open_files_limit }}

table_open_cache = {{ table_open_cache }}
max_allowed_packet = {{ max_allowed_packet }}M
binlog_cache_size = {{ binlog_cache_size }}M
max_heap_table_size = {{ max_heap_table_size }}M
tmp_table_size = {{ tmp_table_size }}M



#character-set-server = utf8
character-set-server={{ character_set_server }}
collation_server=utf8mb4_unicode_ci


#skip-name-resolve
#skip-networking

read_buffer_size = {{ read_buffer_size}}M
read_rnd_buffer_size = {{read_rnd_buffer_size}}M
sort_buffer_size = {{ sort_buffer_size }}M
join_buffer_size = {{ join_buffer_size }}M
#key_buffer_size = 4M

thread_cache_size = {{ thread_cache_size }}

query_cache_type = {{ query_cache_type}}
query_cache_size = {{ query_cache_size }}M
query_cache_limit = {{ query_cache_limit}}M


myisam_sort_buffer_size = {{ myisam_sort_buffer_size }}M
myisam_repair_threads = {{ myisam_repair_threads }}

interactive_timeout = {{ interactive_timeout }}
wait_timeout = {{ wait_timeout }}
sql_mode='NO_ENGINE_SUBSTITUTION'

innodb_flush_log_at_trx_commit=2
innodb_flush_method=O_DIRECT
innodb_log_file_size= {{innodb_log_file_size }}M
innodb_buffer_pool_size= {{ innodb_buffer_pool_size|default(2048) }}M
key_buffer_size={{ key_buffer_size }}M

innodb_file_per_table = 1
expire_logs_days=7
#rpl_semi_sync_master_enabled=1
#rpl_semi_sync_master_timeout=1000
#log-slave-updates=1
[mysql]
no-auto-rehash
#default-character-set=utf8
default-character-set = {{ character_set_server }}
